<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Screener</title>
</head>
<body>
	<h1>AnuSmartTraders</h1>
	<img src="http://dolct.org/images/rupee_.png" width="50" height="50" class="center">
	<h2>Welcome to Indias no.1 trending trading tool</h2>
	<a href="{{url_for('screener')}}">Press Here for Screener</a>
</body>
